<li>POSTS!!
    {{!-- <h2><a href="/post/{{id}}">{{post_title}}</a></h2>
    <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    <div class="post-body">
        <p>
            {{post_content}}
        </p>
    </div> --}}
</li>